@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');

body{
    font-family: 'Lato', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
img{
    max-width: 100%;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.header{
    position: absolute;
    width: 100%;
}
.header-icon {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.header-logo{
    z-index: 2;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
}
.header-menu{
    display: flex;
    justify-content: right;
}
.header-link{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    z-index: 2;
}
.header-link:not(:last-child){
    margin-right: 50px;
}
.header-link:hover:before{
    content: '';
    position: absolute;
    bottom: 10px;
    color: #ADFF00;
    width: 23px;
    height: 1px;
}
.header-link:hover{
    color: #ADFF00;
}
.hero-container{
    display: flex;
    justify-content: center;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url("./images/img.png") center/cover no-repeat;
    position: relative;
}
.hero-title{
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.hero-title span{
    color: #ADFF00;
}
.hero-desc{
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}
.hero-desc span{
    font-weight: bold;
}
.col-3{
    width: 25%;
    box-sizing: border-box;
    padding: 0 15px;
}
.team{
    background: url("./images/img_16.png") center/cover no-repeat;
    padding: 76px 0 ;
    color: #FFFFFF;
    background-blend-mode: darken;
    text-align: center;
}
.team-img{
    background: url("./images/img_13.png");
    width: 119px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin: 50px 13px;
}
.section-title{
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    position: relative;
}
.section-title:before{
    content: '';
    position: absolute;
    width: 120px;
    height: 1px;
    border: 1px solid #ADFF00;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
}
.team-name{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}
.team-desc{
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    padding-top: 13px;
}
.team-call{
    padding: 13px 0;
}
.about-services{
    font-size: 42px;
    line-height: 50px;
    color: #090909;
    text-transform: uppercase;
    text-align: center;
    margin-top: 92px;
    position: relative;
    font-family: "Lato", sans-serif;
    padding: 43px 0 57px;
}
.about-services span{
    font-weight: bolder;
}
.about-services:before{
    content: '';
    position: absolute;
    border: 1px solid #ADFF00;
    width: 150px;
    height: 2px;
    left: -0;
    right: 0;
    margin: auto;
    bottom: 45px;
}
.about-services:after{
    content: '';
    position: absolute;
    border: 1px solid rgba(173, 255, 0, 0.58);
    width: 60px;
    height: 1px;
    left: -0;
    right: 0;
    margin: auto;
    bottom: 30px;
}
.services-contain{
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    margin: 47px 95px;
}
.services-icon{
    width: 119px;
    height: 120px;
    border: 4px solid #ADFF00;
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: color;
}
.services-box:hover .services-icon {
    background: #ADFF00;
}
.services-box:hover .services-icon path{
    fill: #FFFFFF;
}
.services-title{
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    text-transform: uppercase;
    margin: 26px 0 15px;
    text-align: center;
}
.services-desc{
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}
.services{
    margin: 82px 134px;
}
.clients{
    background: url("./images/img_8.png");
}
.clients-title{
    color: white;
}
.clients-box{
    width: 218px;
    height: 140px;
    left: 214px;
    top: 3181px;
    background: #FFFFFF;
    border-radius: 10px;
    margin: 0 auto;
}
.clients-box svg{
    margin: 44px 15px;
}
.col-4{
    box-sizing: border-box;
    width: 33.3333%;
    padding: 0 15px;
    margin-bottom: 72px;
}

.contacts-title{
    font-size: 32px;
    line-height: 38px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 55px;
}
.contacts{
    background: #090909;
    padding: 43px 0 72px;
    position: relative;
}
.contacts-title span{
    color: #A0EB00;
}
.contacts-form{
    width: 476px;
    margin: 0 auto;
}
.contacts-upper-form{
    display: flex;
    justify-content: space-between;
}
.contacts-upper-form input{
    border: none;
    border-bottom: 2px solid #ffffff;
    background-color: transparent;
    width: 178px;
}
.contacts-email{
    border: none;
    border-bottom: 2px solid #FFFFFF;
    background-color: transparent;
    width: 100%;
    margin: 54px 0;
}
.contacts-btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #D5D6D8;
    border-bottom: 2px solid #FFFFFF;
    border-radius: 10px;
    display: inline-block;
    padding: 8px 59px;
    background: #000;
}
.contacts-btn:hover{
    box-shadow: 0 4px 12px 12px;
    transform: rotate(5deg);
}
.contacts svg{
    position: absolute;
    top: -40px;
    right: 133px;
}
.contacts-form ::placeholder{
    color: #D5D6D8;
}
.testimonials{
    text-align: center;
}
.testimonials-title{
    padding: 81px 0 47px;
}
.testimonials-position{
    padding: 22px 0 125px;
    font-size: 18px;
    line-height: 22px;
}
.testimonials-desc{
    font-size: 20px;
    line-height: 24px;
    position: relative;
}
.testimonials-desc:before{
    content: "\0022";
    position: absolute;
    font-weight: bold;
    font-size: 80px;
    line-height: 96px;
    text-align: center;
    color: #D5D6D8;
    left: -30px;
    top: -40px;
}
.testimonials-desc:after{
    content: "\0022";
    position: absolute;
    font-weight: bold;
    font-size: 80px;
    line-height: 96px;
    text-align: center;
    color: #D5D6D8;
    right: 0;
    bottom: -90px;
}
.col-6{
    width: 50%;
    box-sizing: border-box;
    padding: 0 15px;
}
.support{
    margin: 138px 155px;
}
.support-title{
    width: 509px;
    height: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 50px;
    color: #090909;
    margin: 11px 0 35px;
    position: relative;
}
.support-title:before{
    content: '';
    width: 120px;
    height: 1px;
    border: 1px solid #ADFF00;
    position: absolute;
    bottom: -5px;
}
.support-title span{
    font-weight: bolder;
}
.support-img img{
    width: 100%;
    margin: 11px 0 0 13px;
}
.support-desc{
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 64px;
    height: 68px;
}
.support-menu{
    margin-left: 20px;
}
.support-list{
    list-style-type: disc;
    font-weight: normal;
    width: 337px;
    height: 22px;
    left: 754px;
    top: 1484px;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 8px;
}
.about-support{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    margin: 19px 0 11px;
}
.support-icon{
    margin-left: 20px;
}
.footer{
    height: 58px;
    background: #000000;
    margin: 0 auto;
}
.footer-copyright{
    padding: 20px 664px;
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

}